<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <header class="cabecalho">
      <div class="logo">
        <img src="css/5Jxp.gif" alt="" />
      </div>
      <nav class="menu">
        <ol class="menu-lista">
          <li><a href="#quem-somos">Quem Somos:</a></li>
          <li><a href="#nossos-clientes">Nossos Clientes:</a></li>
          <li><a href="#fale-conosco">Fale Conosco:</a></li>
        </ol>
      </nav>
    </header>
    <main>
      <section class="section1" id="quem-somos">
        <h1 class="titulo">Quem Somos:</h1>
      </section>
      <section class="section2" id="nossos-clientes">
        <h1 class="titulo">Nossos Clientes:</h1>
      </section>
      <section class="section3" id="fale-conosco">
        <h1 class="titulo">Fale Conosco:</h1>
      </section>
    </main>
  </body>
</html>
