:root {
  --cor-1: #38B000;
  --cor-2: #70E000;
  --cor-3: #9EF01A;
  --cor-4: #CCFF33;
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: linear-gradient(#38b000, #70e000, #9ef01a, #CCFF33) no-repeat;
  color: black;
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
  flex-direction: column;
}

h1 {
  animation: slideRight 1s ease forwards;
  animation-delay: 1s;
}

p {
  animation: slideButton 2s ease forwards;
  animation-delay: 1s;
  
}

@keyframes slideRight {
  0% {
    transform: translateX(-1000px);
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideButton {
  0% {
    transform: translateX(-1000px);
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
